WHATSAPP_API_VERSION=v22.0
WHATSAPP_PHONE_NUMBER_ID=974899072381634
WHATSAPP_ACCESS_TOKEN=EAAW2JxtvKuYBRiimKqU3VTdNEu0qZAxvS2z5Ly7GxYLnrVc60eoJSq5P5ZBEsGq85ZAytBBjNoLBEg8fKRLkcXzz8GMd8NWrhK0SNKGmZBcfeOH2AWJ4Cxf4Ln0eeNhRy9VlUA4sYjv5xUdbxNACUMujdnwcH5blNZCOPWZBDiypYJbDHkoiSSsZBk3amEW1Yz5MAZDZD
WHATSAPP_VERIFY_TOKEN=safari_custom_verify_token